body{
    background-image: url("./background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: lightblue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    float: right;
}

.navbar ul li {
    padding: 0 5px 0 5px;
}

#nav-title {
    float: left;
}
.navbar a:hover{
    background-color: lightcyan;
}

button {
    background-color: pink;
    font-size: 10px;
    color: red; 
    border-radius: 5px;
}